.gallery-card {
    position: relative;
    height: 22rem;
    overflow: hidden;
    border-radius: 1rem;

}

.gallery-card-image {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.gallery-card-title {
    position: absolute;
    background-color: rgba(39, 10, 66, 0.644);
    width: 100%;
    text-align: center;
    color: rgb(238, 190, 156);
    bottom: 0;
    margin-bottom: -8rem;
    transition: margin-bottom .5s ease;
}

.gallery-card:hover .gallery-card-title {
    margin-bottom: 2rem;


}

.gallery-card:hover .gallery-card-image {
    transform: scale(1);

}