.Slide-1,
.Slide-2,
.Slide-3,
.Slide-4,

.Slide-5 {
    overflow: hidden;
    border-left: .5px solid #344f64;
    border-right: .5px solid #344f64;
}

.Slide-6 {
    overflow: hidden;
}

.banner-img {
    height: 25rem;
    width: 100%;
    transform: scale(1);
    transition: transform .7s ease;

}

.banner-img:hover {

    transform: scale(1.1);
    transition: transform .7s ease;

}

.swiper-wrapper {
    align-items: center
}