.toggler {
    transition-property: visibility;
    /* Specify the property to animate */
    transition-duration: 1s;
    /* Set the duration of the transition */
    transition-timing-function: ease;
    /* Set the easing effect */
}

.active {
    color: red;
}